@model IEnumerable<TeamExplorer.Models.Charter>
@{
    ViewBag.Title = "Team Explorer";
}

<h1>Active Charters</h1>
<ul>
    @foreach(var charter in Model)
    {
        <li>@Html.ActionLink(charter.Title, "Index","Charter", new {charter.Id}, null)</li>
    }
</ul>