@model TeamExplorer.Controllers.CharterViewModel

<h2>Create a new issue</h2>    
@Html.Action("Form", "Issue", new { charterId = Model.Charter.Id })

<h2>Reported issues</h2>
<table>
    <caption>Reported issues</caption>
    <thead>
        <tr>
            <th>Description</th>
            <th>Issue Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var issue in Model.Issues)
        {
        <tr>
            <td>@Html.ActionLink(issue.Description ?? "[description]", "Show", "Issue", new { issue.Id }, null)</td>
            <td>@issue.IssueType</td>
        </tr>            
        }
    </tbody>
</table>
